[submodule "external-addons/project"]
	path = external-addons/project
	url = https://github.com/OCA/project.git
	branch = 18.0
[submodule "external-addons/field-service"]
	path = external-addons/field-service
	url = https://github.com/OCA/field-service.git
	branch = 18.0
[submodule "external-addons/payroll"]
	path = external-addons/payroll
	url = https://github.com/OCA/payroll.git
	branch = 18.0
