[submodule "external-addons/project"]
	path = external-addons/project
	url = https://github.com/OCA/project.git
	branch = 18.0
[submodule "external-addons/field-service"]
	path = external-addons/field-service
	url = https://github.com/OCA/field-service.git
	branch = 18.0
[submodule "external-addons/payroll"]
	path = external-addons/payroll
	url = https://github.com/OCA/payroll.git
	branch = 18.0
[submodule "external-addons/web"]
	path = external-addons/web
	url = https://github.com/OCA/web.git
	branch = 18.0
[submodule "external-addons/timesheet"]
	path = external-addons/timesheet
	url = https://github.com/OCA/timesheet.git
	branch = 18.0
[submodule "external-addons/maintenance"]
	path = external-addons/maintenance
	url = https://github.com/OCA/maintenance.git
	branch = 18.0
[submodule "external-addons/fleet"]
	path = external-addons/fleet
	url = https://github.com/OCA/fleet.git
	branch = 18.0
[submodule "external-addons/server-brand"]
	path = external-addons/server-brand
	url = https://github.com/OCA/server-brand.git
	branch = 18.0
[submodule "external-addons/purchase-workflow"]
	path = external-addons/purchase-workflow
	url = https://github.com/OCA/purchase-workflow.git
	branch = 18.0
[submodule "external-addons/sale-workflow"]
	path = external-addons/sale-workflow
	url = https://github.com/OCA/sale-workflow.git
	branch = 18.0
[submodule "external-addons/hr-attendance"]
	path = external-addons/hr-attendance
	url = https://github.com/OCA/hr-expense.git
	branch = 18.0
[submodule "external-addons/hr-holidays"]
	path = external-addons/hr-holidays
	url = https://github.com/OCA/hr-holidays.git
	branch = 18.0
[submodule "external-addons/hr"]
	path = external-addons/hr
	url = https://github.com/OCA/hr.git
	branch = 18.0
[submodule "external-addons/reporting-engine"]
	path = external-addons/reporting-engine
	url = https://github.com/OCA/reporting-engine.git
	branch = 18.0
[submodule "external-addons/helpdesk"]
	path = external-addons/helpdesk
	url = https://github.com/OCA/helpdesk.git
	branch = 18.0
[submodule "external-addons/server-tools"]
	path = external-addons/server-tools
	url = https://github.com/OCA/server-tools.git
	branch = 18.0
[submodule "external-addons/hr-expense"]
	path = external-addons/hr-expense
	url = https://github.com/OCA/hr-expense.git
	branch = 18.0
